<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>Validando permisos...</text>
            </Authorizing>
            <NotAuthorized>
                <text>No estás autorizado para ver este contenido!</text>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Recurso no encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo sentimos, no hemos encontrado la ruta solicitada.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
